<!DOCTYPE html>
<html>
    <head>
        <title>Cadastrar Filme</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cadastrar Novo Filme</h1>
        <form th:action="@{/filmes/cadastrar}" th:object="${filme}" method="post">
            <input type="text" th:field="*{titulo}" placeholder="Título" required/>
            <input type="text" th:field="*{sinopse}" placeholder="Sinopse" required/>
            <input type="text" th:field="*{genero}" placeholder="Gênero" required/>
            <input type="number" th:field="*{anoLancamento}" placeholder="Ano de Lançamento" required/>
            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>
